<!doctype html> <html class="no-js"> <head> <meta charset="utf-8"> <title></title> <meta name="description" content=""> <meta name="viewport" content="width=device-width"> <link rel="stylesheet" href="styles/vendor.63f5cbb0.css"> <link rel="stylesheet" href="styles/main.533cd07f.css">  <body ng-app="instangularApp"> <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]--> <!-- Add your site or application content here --> <div class="header"> <div class="container"> <div class="header__text"> <div class="header__text-lead-in"> InstAngular! </div> </div> </div> </div> <section class="main"> <div class="container"> <div class="row" ng-controller="AgregatePhotoCtrl"> <div class="col-md-3"> <photos tag="tags.tag1"></photos> </div> <div class="col-md-3"> <photos tag="tags.tag2"></photos> </div> <div class="col-md-3"> <photos tag="tags.tag3"></photos> </div> <div class="col-md-3" ng-include="'/allphotos.html'"> </div> </div> </div> </section> <script type="text/ng-template" id="/photos.html"><div class="column__photo">
            <div class="row form__tag ">
                <form class="form col-md-12 center-block">
                    <input type="text" class="form-control" ng-model="tag">
                </form>

            </div>

            <div class="row">
                <div class="col-md-6" ng-repeat="item in items">
                  <photo width="116" height="116" item="item"></photo>
            </div>
            </div>
        </div></script> <script type="text/ng-template" id="/allphotos.html"><div class="row">
            <div class="allphoto_text">
                {{'#'+tags.tag1 + ' + ' + '#'+tags.tag2 + ' + ' + '#'+tags.tag3}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-repeat="item in items | reverse">
              <photo width="260" height="260" item="item"></photo>
            </div>
        </div></script> <script type="text/ng-template" id="/photo.html"><img ng-mouseenter="show = true" ng-mouseleave="show = false" class="img__tag" width="{{width}}" height="{{height}}" ng-src="{{item.images.low_resolution.url}}" src="" alt="">
        <div ng-show="show" class="tags">
            <span ng-repeat="tag in item.tags" class="text-primary">{{'#'+tag}} </span>
        </div></script> <script src="scripts/vendor.f78e2891.js"></script> <script src="scripts/scripts.4cf51b99.js"></script>  